{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
{% if user == event.manager %}

	<h1>Update Event...</h1>
		<br/><br/>


	<form action="" method=POST>
		{% csrf_token %}
		{{ form.as_p }}
		<br/>
		<input type="submit" value="Update" class="btn btn-secondary">

			{%else%}
			<h2>Acess Denied</h2>
			<p>Only the event's Manager can update the event...</p>



		Logged In user:{{user}}

		<br/><br/>

		Event Manager: {{event.manager}}

		<br/><br/>
				{%endif%}


		{%else%}

		<h1> Sorry! You must be logged in to view this page..</h1>
		<a href="{%url 'login' %}">Login Here </a>



{% endif %}




{% endblock %}